streamlit>=1.49.1
psycopg2-binary>=2.9.10
sqlalchemy>=2.0.43
groq>=0.31.1
pydantic>=2.11.7
pydantic-settings>=2.10.1
python-dotenv>=1.1.1
streamlit-ace>=0.1.1
streamlit-pdf-viewer>=0.0.26
streamlit-sortables>=0.2.0
bcrypt>=4.3.0
weasyprint>=66.0
reportlab>=4.4.3
